<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") %>
  <body>
    <%- include ("partials/nav") %>
    <div class="container">
      <h1>Sorry no route found.</h1>
    </div>
    <%- include ("partials/footer") %>
  </body>
</html>
